<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HD Shop</title>
    <link rel="icon" type="image/x-icon" href="../assets/img/m.jpg">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css.map">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/body.css">
    <link rel="stylesheet" href="../assets/css/home.css">
    <link rel="stylesheet" href="../assets/css/base.css">
    <link rel="stylesheet" href="../assets/css/cart.css">
    <link rel="stylesheet" href="../assets/css/notification.css">
    <link rel="stylesheet" href="../assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/chat.css">
    <link rel="stylesheet" href="../assets/css/sanpham.css">

</head>
<body>
    <div class="main">
        <header class="header">
            <div class="grid">
                <div class="nav">
                    <a class="nav__logo" href="/">
                        <img src="../assets/img/m.jpg" alt="logo" class="nav__logo-img">
                        <div class="nav__logo-text">HDShop</div>
                    </a>
    
                    <div class="nav__list">
                        <div class="nav__item nav__item1" id="nav__item1"><a href="/" class="nav__item-link nav__item-link1 active">Trang chủ</a> </div>
                        <div class="nav__item nav__item2" id="nav__item2">
                            <a href="/shopCho" class="nav__item-link nav__item-link2">Shop chó</a> <i class="fa-solid fa-caret-down down2"></i>
                            <div class="shopcho">
                                <a href="/cho"><div class="shopcho__item">Chó</div></a>
                                <a href="/phuKienCho"><div class="shopcho__item">Phụ kiện</div></a>
                                <a href="/doAnCho"><div class="shopcho__item">Đồ ăn</div></a>                             
                            </div>
                        </div>
                        
                        <div class="nav__item nav__item3" id="nav__item3">
                            <a href="/shopMeo" class="nav__item-link nav__item-link3">Shop mèo</a> <i class="fa-solid fa-caret-down down3"></i>
                            <div class="shopmeo">
                                <a href="/meo"><div class="shopmeo__item">Mèo</div></a>
                                <a href="/phuKienMeo"><div class="shopmeo__item">Phụ kiện</div></a>
                                <a href="/doAnMeo"><div class="shopmeo__item">Đồ ăn</div></a>
                            </div>
                        </div>

                        <!-- notification -->

                        <div class="nav__item nav__item4" id="nav__item4">
                            <a href="/thongbao" class="nav__item-link nav__item-link4"><i class="fa-solid fa-bell"></i> 
                                <div class="notification">
                                    <div class="notification__head">
                                        Thông báo mới nhận
                                    </div>
                                    <div class="notification__body">
                                        <div class="notification__item">
                                            <div class="notification__divimg"><img src="assets/img/sale.png" alt="" class="notification__img"></div>
                                            <div class="notification__describe">
                                                <div class="notification__title">
                                                    Ưu đãi tháng 5 siêu hot
                                                </div>
                                                <div class="notification__text">
                                                    Nhân ngày 19/5 shop có chương trình siêu sale dành cho tất cả khách hàng tới shop.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="notification__item">
                                            <div class="notification__divimg"><img src="assets/img/2tang1.png" alt="" class="notification__img"></div>
                                            <div class="notification__describe">
                                                <div class="notification__title">
                                                    Mua 2 tặng 1
                                                </div>
                                                <div class="notification__text">
                                                    Sản phẩm xúc xích thưởng dành cho cún cưng đang có chương trình khuyến mãi mua 2 tặng 1.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="notification__item">
                                            <div class="notification__divimg"><img src="assets/img/voucher.jpg" alt="" class="notification__img"></div>
                                            <div class="notification__describe">
                                                <div class="notification__title">
                                                    Voucher 1/6
                                                </div>
                                                <div class="notification__text">
                                                    Nhân ngày 1/6 shop có các voucher hấp dẫn dành tặng cho tất cả các khách hàng khi mua các sản phẩm tại shop.
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </a>
                        </div>

                        <!-- cart -->

                        <div class="nav__item nav__item5" id="nav__item5"><a href="/giohang" class="nav__item-link nav__item-link5"><i class="fa-solid fa-cart-plus"></i>
                                <div class="notification">
                                <div class="notification__head">
                                    Giỏ Hàng
                                </div>
                                <div class="notification__body">
                                    <div class="notification__item">
                                        <div class="notification__divimg"><img src="assets/img/chuong2.jpg" alt="" class="notification__img"></div>
                                        <div class="notification__describe">
                                            <div class="notification__title">
                                                Lồng gấp
                                            </div>
                                            <div class="notification__text notification__text--1">
                                                <span class="mota">Lồng gấp dành cho cún cưng của bạn</span>
                                                <span class="gia">800.000đ</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="notification__item">
                                        <div class="notification__divimg"><img src="assets/img/thucan1.jpeg" alt="" class="notification__img"></div>
                                        <div class="notification__describe">
                                            <div class="notification__title">
                                                Royal Canin
                                            </div>
                                            <div class="notification__text notification__text--1">
                                                <span class="mota">Thức ăn dành cho cún cưng</span>
                                                <span class="gia">250.000đ</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="notification__item">
                                        <div class="notification__divimg"><img src="assets/img/tuimeo1.jpg" alt="" class="notification__img"></div>
                                        <div class="notification__describe">
                                            <div class="notification__title">
                                                Túi vải đỏ
                                            </div>
                                            <div class="notification__text notification__text--1">
                                                <span class="mota">Túi vận chuyển mèo</span>
                                                <span class="gia">120.000đ</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="notification__item">
                                        <div class="notification__divimg"><img src="assets/img/aomeo2.jpg" alt="" class="notification__img"></div>
                                        <div class="notification__describe">
                                            <div class="notification__title">
                                                Áo họa tiết trái dâu
                                            </div>
                                            <div class="notification__text notification__text--1">
                                                <span class="mota">Áo thun họa tiết trái dâu cho mèo</span>
                                                <span class="gia">40.000đ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </a>
                        </div>
                        
                        <div class="nav__item nav__item--find">
                            <input type="text" class="find-input" id="find-input" placeholder="Search">
                            <i class="fa-solid fa-magnifying-glass nav__find-icon"  onclick="find_function()" ></i>
                        </div>
                        <!-- dang nhap/ dang xuat -->
                        <% if (taiKhoan === "khong") { %>
                            <div class="nav__item nav__item7">
                                <div class="dangnhap">
                                    <a href="/dangNhap" class="nav__item-link nav__item-link7">Đăng Nhập</a>
                                </div>
                            </div>

                            <div class="nav__item nav__item8">
                                <div class="dangky">
                                    <a href="/dangKy" class="nav__item-link nav__item-link8">Đăng Ký</a>
                                </div>
                            </div>
                        <% } else { %>
                            <div class="nav__item6" onclick="appear_user()">
                                <img src="../assets/img/avatatrang.jpg" class="avata" alt="alt">
                                <div class="user" id="user">
                                    <div class="name">
                                        <img src="../assets/img/avatatrang.jpg" alt="alt">
                                        <span><%= tenTK %></span>
                                    </div>
                                    <div class="out">
                                        <i class="fa-solid fa-right-from-bracket icon"></i>
                                        <span><a href="/dangXuat">Đăng Xuất</a></span>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>

                    <div class="nav__menu">
                        <div class="nav__menu-father"  onclick="appear_menu()">
                            <i class="fa-solid fa-bars"></i>
                            <div class="nav__menu-text">Menu</div>
                        </div>

                        <div class="menu__list" id="menu__list">
                            <div class="menu__item menu__item1">
                                <a href="/" class="active">Trang chủ</a>                  
                            </div>
                            <div class="menu__item menu__item2">
                                <div class="menu__cho" onclick="find_menu_cho_function()">
                                    <div class="menu__cho-child">
                                        Shop chó
                                    </div>
                                    <i class="fa-solid fa-caret-down down"></i>
                                </div>
                                <div class="menu__cho-list" id="menu__cho-list">
                                    <a href="/cho"><div class="menu__cho-item">Chó</div></a>
                                    <a href="/phuKienCho"><div class="menu__cho-item">Phụ kiện</div></a>
                                    <a href="/doAnCho"><div class="menu__cho-item">Đồ ăn</div></a>  
                                    
                                </div>
                            </div>
                            <div class="menu__item menu__item3">
                                <div class="menu__meo" onclick="find_menu_meo_function()">
                                    <div class="menu__meo-child">
                                        Shop mèo
                                    </div>
                                    <i class="fa-solid fa-caret-down down"></i>
                                </div>
                                <div class="menu__meo-list" id="menu__meo-list">
                                    <a href="/meo"><div class="menu__meo-item">Mèo</div></a>
                                    <a href="/phuKienMeo"><div class="menu__meo-item">Phụ kiện</div></a>
                                    <a href="/doAnMeo"><div class="menu__meo-item">Đồ ăn</div></a>
                                </div>

                            </div>
                            <a href="/thongbao"><div class="menu__item menu__item4">Thông báo</div></a>
                            <a href="/giohang"><div class="menu__item menu__item5">Giỏ hàng</div></a>
                            <div class="menu__item">

                                <form action="action__find" class="form__find__menu">
                                    <input type="text" name="menu__find" class="menu__find" placeholder="Search">
                                    <button class="menu__button">
                                        <i class="fa-solid fa-magnifying-glass menu__find-icon"></i>
                                    </button>
                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </header>