<%- include('partials/header') %>


        <div class="body">
            <div class="body__title">
                <img src="assets/img/backgroud.jpg" alt="" class="body__title__img">
                <div class="body__title__text">HD Shop</div>
            </div>

            <div class="body__cho">
                <div class="codinh">
                    <div class="body__cho__left">
                        <a href="/shopCho">
                            <div class="body__cho__left__title">
                                Shop Chó
                            </div>
                        </a>
    
                        <div class="body__cho__left__list">
                            <a href="/cho">
                                <div class="body__cho__left__item">
                                    Chó
                                </div>
                            </a>
                            <a href="/phuKienCho">
                                <div class="body__cho__left__item">
                                    Phụ kiện
                                </div>
                            </a>
                            <a href="/doAnCho">
                                <div class="body__cho__left__item">
                                    Đồ ăn
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="body__cho__right">
                    <div class="title">
                        <span>Chó</span>
                        <a href="/cho"><span class="more">>></span></a>
                    </div>
                    <div class="cho">
                        <a class="cho__list">
                            <img src="assets/img/huyalska.jpg" alt="" class="cho__list__img">
                            <div class="cho__list__text">   Alaska</div>
                        </a>

                        <a class="cho__list">
                            <img src="assets/img/huybordercollie.jpg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Border Collie</div>
                        </a>

                        <a class="cho__list">
                            <img src="assets/img/huybullphap.jpg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Bull Pháp</div>
                        </a>

                        <a class="cho__list">
                            <img src="assets/img/huygolden.jpg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Golden</div>
                        </a>

                        <a class="cho__list">
                            <img src="assets/img/huyshiba.jpg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Shiba</div>
                        </a>

                    </div>

                   
                </div>
            </div>

        </div>


<%- include('partials/footer') %>