<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HD Shop</title>
    <link rel="icon" type="image/x-icon" href="./assets/img/m.jpg">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/dangnhap.css">
</head>
<body>
    <div class="box">
        <form action="/dangNhap" method="POST">
            <h2>Đăng Nhập</h2>
            <div class="inputBox">
                <input type="text" required="required" name="username">
                <span>Tên Đăng Nhập</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" required="required" name="password">
                <span>Mật Khẩu</span>
                <i></i>
            </div>
            <div class="links">
                <a href="">Quên Mật Khẩu</a>
                <a href="/dangKy">Đăng Ký</a>
            </div>
            <% if (err === "Password or username is incorrect") { %>
                <p class="loi">Tên đăng nhập hoặc mật khẩu không đúng</p>
            <% } %>
            <input type="submit" value="Đăng Nhập">
        </form>
    </div>
</body>
</html>