<%- include('partials/header') %>


        <div class="body">
            <div class="body__title">
                <img src="assets/img/backgroud.jpg" alt="" class="body__title__img">
                <div class="body__title__text">HD Shop</div>
            </div>

            <div class="body__cho">
                <div class="codinh">
                    <div class="body__cho__left">
                        <a href="/shopMeo">
                            <div class="body__cho__left__title">
                                Shop Mèo
                            </div>
                        </a>
    
                        <div class="body__cho__left__list">
                            <a href="/meo">
                                <div class="body__cho__left__item">
                                    Mèo
                                </div>
                            </a>
                            <a href="/phuKienMeo">
                                <div class="body__cho__left__item">
                                    Phụ kiện
                                </div>
                            </a>
                            <a href="/doAnMeo">
                                <div class="body__cho__left__item">
                                    Đồ ăn
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="body__cho__right">
                    <div class="title">
                        <span>Đồ ăn</span>
                        <!-- <a href="/meo"><span class="more">>></span></a> -->
                    </div>
                    <div class="cho">
                        <a class="cho__list" href="/meo/meoTA1">
                            <img src="assets/img/hat1" alt="" class="cho__list__img">
                            <div class="cho__list__text">British Shorthair</div>
                            <div class="cho__list__price">180.000đ</div>
                            <button class="cho__list__btn">Chọn Mua</button>
                        </a>

                        <a class="cho__list" href="/meo/meoTA2">
                            <img src="assets/img/hat2.jpg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Sterilised</div>
                            <div class="cho__list__price">120.000đ</div>
                            <button class="cho__list__btn">Chọn Mua</button>
                        </a>

                        <a class="cho__list" href="/meo/meoTA3">
                            <img src="assets/img/hat3.jpg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Nature's Protection Indoor</div>
                            <div class="cho__list__price">200.000đ</div>
                            <button class="cho__list__btn">Chọn Mua</button>
                        </a>

                        <a class="cho__list" href="/meo/meoTA4">
                            <img src="assets/img/pate1.jpg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Pate cá ngừ và cá cơm</div>
                            <div class="cho__list__price">30.000đ</div>
                            <button class="cho__list__btn">Chọn Mua</button>
                        </a>                       

                        <a class="cho__list" href="/meo/meoTA5">
                            <img src="assets/img/pate2.jpg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Pate cá ngừ và gà</div>
                            <div class="cho__list__price">30.000đ</div>
                            <button class="cho__list__btn">Chọn Mua</button>
                        </a>
                    </div>

                   
                </div>
            </div>

        </div>


<%- include('partials/footer') %>