<%- include('partials/header') %>


        <div class="body">
            <div class="body__title">
                <img src="assets/img/backgroud.jpg" alt="" class="body__title__img">
                <div class="body__title__text">HD Shop</div>
            </div>

            <div class="body__cho">
                <div class="codinh">
                    <div class="body__cho__left">
                        <a href="/shopCho">
                            <div class="body__cho__left__title">
                                Shop Chó
                            </div>
                        </a>
    
                        <div class="body__cho__left__list">
                            <a href="/cho">
                                <div class="body__cho__left__item">
                                    Chó
                                </div>
                            </a>
                            <a href="/phuKienCho">
                                <div class="body__cho__left__item">
                                    Phụ kiện
                                </div>
                            </a>
                            <a href="/doAnCho">
                                <div class="body__cho__left__item">
                                    Đồ ăn
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="body__cho__right">
                    
                    <div class="title title--sau">
                        <span>Đồ Ăn</span>
                        <a href="/doAnCho"><span class="more">>></span></a>
                    </div>
                    <div class="cho">
                        <a class="cho__list" href="/cho/choTA1">
                            <img src="assets/img/thucan5.jpg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Araton Dog Adult Salmon</div>
                            <div class="cho__list__price">320.000đ</div>
                            <button class="cho__list__btn">Chọn Mua</button>
                        </a>

                        <a class="cho__list" href="/cho/choTA2">
                            <img src="assets/img/thucan1.jpeg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Royal Canin</div>
                            <div class="cho__list__price">250.000đ</div>
                            <button class="cho__list__btn">Chọn Mua</button>
                        </a>

                        <a class="cho__list" href="/cho/choTA3">
                            <img src="assets/img/thucan2.jpeg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Royal Canin</div>
                            <div class="cho__list__price">170.000đ</div>
                            <button class="cho__list__btn">Chọn Mua</button>
                        </a>

                        <a class="cho__list" href="/cho/choTA4">
                            <img src="assets/img/xxcho1.jpg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Xúc xích</div>
                            <div class="cho__list__price">40.000đ</div>
                            <button class="cho__list__btn">Chọn Mua</button>
                        </a>

                        <a class="cho__list" href="/cho/choTA5">
                            <img src="assets/img/xxcho3.png" alt="" class="cho__list__img">
                            <div class="cho__list__text">Xúc xích</div>
                            <div class="cho__list__price">40.000đ</div>
                            <button class="cho__list__btn">Chọn Mua</button>
                        </a>
                    </div>
                </div>
            </div>

        </div>


<%- include('partials/footer') %>