<%- include('partials/header') %>


        <div class="body">
            <div class="body__title">
                <img src="assets/img/backgroud.jpg" alt="" class="body__title__img">
                <div class="body__title__text">HD Shop</div>
            </div>
            <div class="body__main">
                <ul class="body__main__list">
                    <li class="body__main__item body__main__item--check">
                        <input type="checkbox" class="body__head__checkbox">
                    </li>


                    <li class="body__main__item body__main__item--product">
                        <img src="assets/img/chuong2.jpg" alt="" class="body__main__item__img">
                        <div class="body__main__item__describe">
                            Lồng gấp
                        </div>
                    </li>


                    <li class="body__main__item body__main__item--price">
                        800.000 VND
                    </li>


                    <li class="body__main__item body__main__item--number">
                        1
                    </li>


                    <li class="body__main__item body__main__item--amount">
                        800.000 VND
                    </li>


                    <li class="body__main__item body__main__item--operation">
                        Xóa
                    </li>
                </ul>


                <ul class="body__main__list">
                    <li class="body__main__item body__main__item--check">
                        <input type="checkbox" class="body__head__checkbox">
                    </li>


                    <li class="body__main__item body__main__item--product">
                        <img src="assets/img/thucan1.jpeg" alt="" class="body__main__item__img">
                        <div class="body__main__item__describe">
                            Royal Canin
                        </div>
                    </li>


                    <li class="body__main__item body__main__item--price">
                        250.000 VND
                    </li>


                    <li class="body__main__item body__main__item--number">
                        1
                    </li>


                    <li class="body__main__item body__main__item--amount">
                        250.000 VND
                    </li>


                    <li class="body__main__item body__main__item--operation">
                        Xóa
                    </li>
                </ul>


                <ul class="body__main__list">
                    <li class="body__main__item body__main__item--check">
                        <input type="checkbox" class="body__head__checkbox">
                    </li>


                    <li class="body__main__item body__main__item--product">
                        <img src="assets/img/tuimeo1.jpg" alt="" class="body__main__item__img">
                        <div class="body__main__item__describe">
                            Túi vải đỏ
                        </div>
                    </li>


                    <li class="body__main__item body__main__item--price">
                        120.000 VND
                    </li>


                    <li class="body__main__item body__main__item--number">
                        1
                    </li>


                    <li class="body__main__item body__main__item--amount">
                        120.000 VND
                    </li>


                    <li class="body__main__item body__main__item--operation">
                        Xóa
                    </li>
                </ul>


                <ul class="body__main__list">
                    <li class="body__main__item body__main__item--check">
                        <input type="checkbox" class="body__head__checkbox">
                    </li>


                    <li class="body__main__item body__main__item--product">
                        <img src="assets/img/aomeo2.jpg" alt="" class="body__main__item__img">
                        <div class="body__main__item__describe">
                            Áo họa tiết trái dâu
                        </div>
                    </li>


                    <li class="body__main__item body__main__item--price">
                        40.000 VND
                    </li>


                    <li class="body__main__item body__main__item--number">
                        1
                    </li>


                    <li class="body__main__item body__main__item--amount">
                        40.000 VND
                    </li>


                    <li class="body__main__item body__main__item--operation">
                        Xóa
                    </li>
                </ul>
            </div>
        </div>


<%- include('partials/footer') %>