<%- include('partials/header') %>


        <div class="body">
            <div class="body__title">
                <img src="assets/img/backgroud.jpg" alt="" class="body__title__img">
                <div class="body__title__text">HD Shop</div>
            </div>

            <div class="body__cho">
                <div class="codinh">
                    <div class="body__cho__left">
                        <a href="/shopCho">
                            <div class="body__cho__left__title">
                                Shop Chó
                            </div>
                        </a>
    
                        <div class="body__cho__left__list">
                            <a href="/cho">
                                <div class="body__cho__left__item">
                                    Chó
                                </div>
                            </a>
                            <a href="/phuKienCho">
                                <div class="body__cho__left__item">
                                    Phụ kiện
                                </div>
                            </a>
                            <a href="/doAnCho">
                                <div class="body__cho__left__item">
                                    Đồ ăn
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="body__cho__right">
                    <div class="title">
                        <span>Mèo</span>
                        <!-- <a href="/meo"><span class="more">>></span></a> -->
                    </div>
                    <div class="cho">
                        <a class="cho__list">
                            <img src="assets/img/Meo-Anh-Long-Dai.jpg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Anh Lông Dài</div>
                        </a>

                        <a class="cho__list">
                            <img src="assets/img/Meo-Anh-Long-Ngan.jpg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Anh Lông Ngắn</div>
                        </a>

                        <a class="cho__list">
                            <img src="assets/img/Meo-ba-tu.jpg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Ba Tư</div>
                        </a>

                        <a class="cho__list">
                            <img src="assets/img/meo-munchkin.jpg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Munchkin</div>
                        </a>

                        <a class="cho__list">
                            <img src="assets/img/Maine-coon.jpg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Maine Coon</div>
                        </a>

                    </div>

                   
                </div>
            </div>

        </div>


<%- include('partials/footer') %>