<%- include('partials/header') %>


        <div class="body">
            <div class="body__title">
                <img src="assets/img/backgroud.jpg" alt="" class="body__title__img">
                <div class="body__title__text">HD Shop</div>
            </div>

            <div class="body__cho">
                <div class="codinh">
                    <div class="body__cho__left">
                        <a href="/shopMeo">
                            <div class="body__cho__left__title">
                                Shop Mèo
                            </div>
                        </a>
    
                        <div class="body__cho__left__list">
                            <a href="/meo">
                                <div class="body__cho__left__item">
                                    Mèo
                                </div>
                            </a>
                            <a href="/phuKienMeo">
                                <div class="body__cho__left__item">
                                    Phụ kiện
                                </div>
                            </a>
                            <a href="/doAnMeo">
                                <div class="body__cho__left__item">
                                    Đồ ăn
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="body__cho__right">
                    <div class="title">
                        <span>Mèo</span>
                        <!-- <a href="/meo"><span class="more">>></span></a> -->
                    </div>
                    <div class="container swiper">
                        <div class="slide-container">
                            <div class="card-wrapper swiper-wrapper">
                                <a class="card swiper-slide" href="/meo/meo1">
                                    <div class="image-box">
                                        <img src="assets/img/Meo-Anh-Long-Dai.jpg" alt="" />
                                    </div>
                                    <div class="profile-details">
                                        <span>Anh Lông Dài</span>
                                    </div>
                                </a>
                                <a class="card swiper-slide" href="/meo/meo2">
                                    <div class="image-box">
                                        <img src="assets/img/Meo-ba-tu.jpg" alt="" />
                                    </div>
                                    <div class="profile-details">
                                        <span>Ba Tư</span>
                                    </div>
                                </a>
                                <a class="card swiper-slide" href="/meo/meo3">
                                    <div class="image-box">
                                        <img src="assets/img/meo-munchkin.jpg" alt="" />
                                    </div>
                                    <div class="profile-details">
                                        <span>Muchkin</span>
                                    </div>
                                </a>
                                <a class="card swiper-slide" href="/meo/meo4">
                                    <div class="image-box">
                                        <img src="assets/img/Maine-coon.jpg" alt="" />
                                    </div>
                                    <div class="profile-details">
                                        <span>Maine Coon</span>
                                    </div>
                                </a>
                                <a class="card swiper-slide" href="/meo/meo5">
                                    <div class="image-box">
                                        <img src="assets/img/Meo-Anh-Long-Ngan.jpg" alt="" />
                                    </div>
                                    <div class="profile-details">
                                        <span>Anh Lông Ngắn</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-button-next swiper-navBtn"></div>
                        <div class="swiper-button-prev swiper-navBtn"></div>
                        <div class="swiper-pagination"></div>
                    </div>

                   
                </div>
            </div>

        </div>


<%- include('partials/footer') %>