<%- include('partials/header') %>


        <div class="body">
            <div class="body__title">
                <img src="assets/img/backgroud.jpg" alt="" class="body__title__img">
                <div class="body__title__text">HD Shop</div>
            </div>

            <div class="body__cho">
                <div class="codinh">
                    <div class="body__cho__left">
                        <a href="/shopCho">
                            <div class="body__cho__left__title">
                                Shop Chó
                            </div>
                        </a>
    
                        <div class="body__cho__left__list">
                            <a href="/cho">
                                <div class="body__cho__left__item">
                                    Chó
                                </div>
                            </a>
                            <a href="/phuKienCho">
                                <div class="body__cho__left__item">
                                    Phụ kiện
                                </div>
                            </a>
                            <a href="/doAnCho">
                                <div class="body__cho__left__item">
                                    Đồ ăn
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="body__cho__right">
                    <div class="title title--sau">
                        <span>Phụ Kiện</span>
                        <a href="/phuKienMeo">
                            <!-- <span class="more">>></span> -->
                        </a>
                    </div>
                    <div class="cho">
                        <a class="cho__list">
                            <img src="assets/img/aomeo1.jpg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Đỏ sọc trắng</div>
                            <div class="cho__list__price">40.000đ</div>
                            <button class="cho__list__btn">Chọn Mua</button>
                        </a>

                        <a class="cho__list">
                            <img src="assets/img/tuimeo1.jpg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Túi đỏ</div>
                            <div class="cho__list__price">120.000đ</div>
                            <button class="cho__list__btn">Chọn Mua</button>
                        </a>

                        <a class="cho__list">
                            <img src="assets/img/tuimeo2.jpg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Túi xanh</div>
                            <div class="cho__list__price">120.000đ</div>
                            <button class="cho__list__btn">Chọn Mua</button>
                        </a>

                        <a class="cho__list">
                            <img src="assets/img/nha1.jpg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Nhà đỏ</div>
                            <div class="cho__list__price">150.000đ</div>
                            <button class="cho__list__btn">Chọn Mua</button>
                        </a>

                        <a class="cho__list">
                            <img src="assets/img/nha2.jpg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Nhà xanh</div>
                            <div class="cho__list__price">150.000đ</div>
                            <button class="cho__list__btn">Chọn Mua</button>
                        </a>
                    </div>

                   
                </div>
            </div>

        </div>


<%- include('partials/footer') %>