<%- include('partials/header') %>


        <div class="body">
            <div class="body__title">
                <img src="assets/img/backgroud.jpg" alt="" class="body__title__img">
                <div class="body__title__text">HD Shop</div>
            </div>

            <div class="body__cho">
                <div class="codinh">
                    <div class="body__cho__left">
                        <a href="/shopCho">
                            <div class="body__cho__left__title">
                                Shop Chó
                            </div>
                        </a>
    
                        <div class="body__cho__left__list">
                            <a href="/cho">
                                <div class="body__cho__left__item">
                                    Chó
                                </div>
                            </a>
                            <a href="/phuKienCho">
                                <div class="body__cho__left__item">
                                    Phụ kiện
                                </div>
                            </a>
                            <a href="/doAnCho">
                                <div class="body__cho__left__item">
                                    Đồ ăn
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="body__cho__right">
                    <div class="title">
                        <span>Chó</span>
                        <a href="/cho"><span class="more">>></span></a>
                    </div>
                    <div class="container swiper">
                        <div class="slide-container">
                            <div class="card-wrapper swiper-wrapper">
                                <a href="/cho" class="card swiper-slide">
                                    <div class="image-box">
                                        <img src="./assets/img/huyalska.jpg" alt="" />
                                    </div>
                                    <div class="profile-details">
                                        <span>Alaska</span>
                                    </div>
                                </a>
                                <a href="/cho" class="card swiper-slide s1">
                                    <div class="image-box">
                                        <img src="assets/img/huybordercollie.jpg" alt="" />
                                    </div>
                                    <div class="profile-details">
                                        <span>Border Collie</span>
                                    </div>
                                </a>
                                <a href="/cho" class="card swiper-slide">
                                    <div class="image-box">
                                        <img src="assets/img/huybullphap.jpg" alt="" />
                                    </div>
                                    <div class="profile-details">
                                        <span>Bull Pháp</span>
                                    </div>
                                </a>
                                <a href="/cho" class="card swiper-slide">
                                    <div class="image-box">
                                        <img src="assets/img/huygolden.jpg" alt="" />
                                    </div>
                                    <div class="profile-details">
                                        <span>Golden</span>
                                    </div>
                                </a>
                                <a href="/cho" class="card swiper-slide">
                                    <div class="image-box">
                                        <img src="assets/img/huyshiba.jpg" alt="" />
                                    </div>
                                    <div class="profile-details">
                                        <span>Shiba</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-button-next swiper-navBtn"></div>
                        <div class="swiper-button-prev swiper-navBtn"></div>
                        <div class="swiper-pagination"></div>
                    </div>

                    <div class="title title--sau">
                        <span>Phụ Kiện</span>
                        <a href="/phuKienCho"><span class="more">>></span></a>
                    </div>
                    <div class="cho">
                        <a class="cho__list">
                            <img src="assets/img/ao2.jpg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Hoa cúc đỏ</div>
                            <div class="cho__list__price">60.000đ</div>
                            <button class="cho__list__btn">Chọn Mua</button>
                        </a>

                        <a class="cho__list">
                            <img src="assets/img/ao3.jpg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Mèo xanh</div>
                            <div class="cho__list__price">650.000đ</div>
                            <button class="cho__list__btn">Chọn Mua</button>
                        </a>

                        <a class="cho__list">
                            <img src="assets/img/nuoc3.jpg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Bình treo chuồng</div>
                            <div class="cho__list__price">100.000đ</div>
                            <button class="cho__list__btn">Chọn Mua</button>
                        </a>

                        <a class="cho__list">
                            <img src="assets/img/chuong2.jpg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Lồng gấp</div>
                            <div class="cho__list__price">800.000đ</div>
                            <button class="cho__list__btn">Chọn Mua</button>
                        </a>

                        <a class="cho__list">
                            <img src="assets/img/bat2.jpg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Bát ăn</div>
                            <div class="cho__list__price">50.000đ</div>
                            <button class="cho__list__btn">Chọn Mua</button>
                        </a>
                    </div>

                    <div class="title title--sau">
                        <span>Đồ Ăn</span>
                        <a href="/doAnCho"><span class="more">>></span></a>
                    </div>
                    <div class="cho">
                        <a class="cho__list">
                            <img src="assets/img/thucan5.jpg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Araton Dog Adult Salmon</div>
                            <div class="cho__list__price">320.000đ</div>
                            <button class="cho__list__btn">Chọn Mua</button>
                        </a>

                        <a class="cho__list">
                            <img src="assets/img/thucan1.jpeg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Royal Canin</div>
                            <div class="cho__list__price">250.000đ</div>
                            <button class="cho__list__btn">Chọn Mua</button>
                        </a>

                        <a class="cho__list">
                            <img src="assets/img/thucan2.jpeg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Royal Canin</div>
                            <div class="cho__list__price">170.000đ</div>
                            <button class="cho__list__btn">Chọn Mua</button>
                        </a>

                        <a class="cho__list">
                            <img src="assets/img/xxcho1.jpg" alt="" class="cho__list__img">
                            <div class="cho__list__text">Xúc xích</div>
                            <div class="cho__list__price">40.000đ</div>
                            <button class="cho__list__btn">Chọn Mua</button>
                        </a>

                        <a class="cho__list">
                            <img src="assets/img/bacho1.png" alt="" class="cho__list__img">
                            <div class="cho__list__text">Bánh quy</div>
                            <div class="cho__list__price">50.000đ</div>
                            <button class="cho__list__btn">Chọn Mua</button>
                        </a>
                    </div>
                </div>
            </div>

        </div>

<%- include('partials/footer') %>