<%- include('partials/header') %>


        <div class="body">
            <div class="body__title">
                <img src="assets/img/backgroud.jpg" alt="" class="body__title__img">
                <div class="body__title__text">HD Shop</div>
            </div>

            <!-- <div class="tb">Thông báo</div> -->

            <div class="main__body">
                <ul class="main__body__list">
                    <li class="main__body__item">
                        <img src="assets/img/sale.png" alt="img" class="main__body__item__img">
                        <div class="main__body__item__describe">
                            <div class="main__body__describe__title">
                                Ưu đãi tháng 5 siêu hot
                            </div>
                            
                            <div class="main__body__describe__text">
                                Nhân ngày 19/5 shop có chương trình siêu sale dành cho tất cả khách hàng tới shop.
                            </div> 
    
                            <img src="assets/img/sale.png" alt="img" class="main__body__describe__img">
    
                            <div class="main__body__describe__time">10:00 25-05-2023</div>
                        </div>
                    </li>
    
    
                    <li class="main__body__item">
                        <img src="assets/img/2tang1.png" alt="img" class="main__body__item__img">
                        <div class="main__body__item__describe">
                            <div class="main__body__describe__title">
                                Mua 2 tặng 1
                            </div>
                            
                            <div class="main__body__describe__text">
                                Sản phẩm xúc xích thưởng dành cho cún cưng đang có chương trình khuyến mãi mua 2 tặng 1.
                            </div> 
    
                            <img src="assets/img/2tang1.png" alt="img" class="main__body__describe__img">
    
                            <div class="main__body__describe__time">10:00 25-05-2023</div>
                        </div>
                    </li>
    
    
                    <li class="main__body__item">
                        <img src="assets/img/voucher.jpg" alt="img" class="main__body__item__img">
                        <div class="main__body__item__describe">
                            <div class="main__body__describe__title">
                                Voucher 1/6
                            </div>
                            
                            <div class="main__body__describe__text">
                                Nhân ngày 1/6 shop có các voucher hấp dẫn dành tặng cho tất cả các khách hàng khi mua các sản phẩm tại shop.
                            </div> 
    
                            <img src="assets/img/voucher.jpg" alt="img" class="main__body__describe__img">
    
                            <div class="main__body__describe__time">10:00 25-05-2023</div>
                        </div>
                    </li>
    
    
                    <!-- <li class="main__body__item">
                        <img src="assets/img/Bengal.jpg" alt="img" class="main__body__item__img">
                        <div class="main__body__item__describe">
                            <div class="main__body__describe__title">
                                nnbnmltddvc
                            </div>
                            
                            <div class="main__body__describe__text">
                                =((((((((((( sahkjdashdjkahsjkdhj kashdkj ashdkjashd kljashdkjlahsdjkhks fhkjlasdhfkja sdhfkjla dhfsak ljdfhkasjdl hksadhfkjl shdkfhkjas dlf ha shflasfhk aslf hkjalsdhfalh flsa fkjsahfk jlsa fkja hfkjl sahk fjl
                            </div> 
    
                            <img src="assets/img/Bengal.jpg" alt="img" class="main__body__describe__img">
    
                            <div class="main__body__describe__time">10:00 25-05-2023</div>
                        </div>
                    </li>
    
    
                    <li class="main__body__item">
                        <img src="assets/img/Bengal.jpg" alt="img" class="main__body__item__img">
                        <div class="main__body__item__describe">
                            <div class="main__body__describe__title">
                                nnbnmltddvc
                            </div>
                            
                            <div class="main__body__describe__text">
                                =((((((((((( sahkjdashdjkahsjkdhj kashdkj ashdkjashd kljashdkjlahsdjkhks fhkjlasdhfkja sdhfkjla dhfsak ljdfhkasjdl hksadhfkjl shdkfhkjas dlf ha shflasfhk aslf hkjalsdhfalh flsa fkjsahfk jlsa fkja hfkjl sahk fjl
                            </div> 
    
                            <img src="assets/img/Bengal.jpg" alt="img" class="main__body__describe__img">
    
                            <div class="main__body__describe__time">10:00 25-05-2023</div>
                        </div>
                    </li> -->
    
    
                </ul>
            </div>
        </div>

<%- include('partials/footer') %>